<div class="container formLPYCNH">
    <div class="row formqc__tab">
        <div class="col">
            <div class="boxunderline" style="display: inline-block;">
                Lập phiếu YC nhập hàng
                <div class="underline" style="
                    background-color: black;
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                "></div>
            </div>

        </div>
        <div class="col">
            <div onclick="traCuuMatHang()" style="display: inline-block;">
                Tra cứu mặt hàng
                <div class="underline" style="
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                "></div>
            </div>

        </div>
        <div class="col">
            <div onclick="lapPhieuTraHang()" style="display: inline-block;">
                Lập phiếu trả hàng
                <div class="underline" style="
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                "></div>
            </div>
        </div>
        <div class="col">
            <div onclick="lapPhieuNhapHang()" style="display: inline-block;">
                Lập phiếu nhập hàng
                <div class="underline" style="
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                "></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col formqc__form ">
            <div class="row justify-content-center">
                <div class="form-group col-lg-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Số lượng tồn</span>
                        </div>
                        <input class="form-control" type="number" id="SLTonSearch" value="{{soLuongTon}}"
                            style="text-align:center">
                        <div class="input-group-append">
                            <button class="btn btn-dark" onclick="timKiemTheoSLT()">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 320px; overflow: auto; padding-left: 10px; margin-top: 10px;">
                <table class="row">
                    <tr>
                        <th>STT</th>
                        <th>Mã MH</th>
                        <th>Tên mặt hàng</th>
                        <th style="text-align: center;">Số lượng Tồn</th>
                        <th>Số Lượng Cần Nhập</th>
                        <th>Nhà Cung Cấp</th>
                    </tr>

                    <div>
                        {{#each DSMatHang}}
                        <tr>
                            <td class="counterCell text-center"></td>
                            <td class="text-center">{{this.MaMH}}</td>
                            <td>{{this.TenMH}}</td>
                            <td class="text-center">{{this.SoLuongTon}}</td>
                            <td><input type="number" style="width: 40%; text-align:center" class="inputSLT"></td>
                            <td>{{this.TenNCC}}</td>
                        </tr>
                        {{/each}}
                    </div>
                </table>
            </div>
            <hr class="line">
            <div style="text-align: center;">
                <button class="btn btn-dark formqc__box--accept" onclick="lapPhieuYCNhapHang()">Lập phiếu YC nhập
                    hàng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function timKiemTheoSLT() {
        let soLuongTon = $('#SLTonSearch').val();
        location.href = "/nvbanhang?soLuongTon=" + soLuongTon;
    };

    function lapPhieuYCNhapHang() {
        let chuoiSLCN = "";
        let soLuongTon = document.getElementById('SLTonSearch').value;
        let soluongHang = document.getElementsByClassName('inputSLT').length;
        let check = false;
        for (let i = 0; i < soluongHang; i++) {
            let inputValue = document.getElementsByClassName('inputSLT')[i].value;
            if (inputValue == "" || inputValue == null) {
                check = true;
            }
            chuoiSLCN = chuoiSLCN + inputValue + " ";
        };
        if (check) {
            Swal.fire({
                title: 'Hãy nhập tất cả số lượng cần nhập của từng mặt hàng'
            })
        } else {
            $.ajax({
                url: '/nvbanhang/lapphieuyeucaunhaphang',
                type: 'POST',
                data: {
                    chuoiSLCN: chuoiSLCN,
                    soLuongTon: soLuongTon
                },
                success: function () {
                    Swal.fire({
                        title: 'Lập phiếu trả hàng thành công'
                    }).then(() => {
                        location.reload();
                    })
                }
            })
        }
    }
    function lapPhieuTraHang() {
        location.href = "/nvbanhang/lapphieutrahang"
    }
</script>