<div class="container formqc">
    <div class="row formqc__tab">
        <div class="col">
            <div class="boxunderline" style="display: inline-block;">
                Thêm sản phẩm quảng cáo
                <div class="underline" style="
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    margin: 0 auto;
                "></div>
            </div>
           
        </div>
        <div class="col">
             <div  onclick="xemspquangcao()" style="display: inline-block;"  class="boxunderline">
               Xem sản phẩm quảng cáo
                <div class="underline" style="
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                "></div>
            </div>
           
        </div>
        <div class="col">
             <div onclick="ngungquangcaosp()" style="display: inline-block;"  class="boxunderline">
                Ngừng quảng cáo sản phẩm
                <div class="underline" style="
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                "></div>
            </div>
             
        </div>
    </div>
    <form id="formqc" class=" formqc__form" action="/nvdangtin" method="GET">
        <div class="row"><div class="col formqc__form--tab1">
            <div class="formqc__searchbox">
                <input  placeholder="Tìm sản phẩm" class="formqc__searchbox--search" type="search" name="searchbox" id="searchbox"/>
                <i onclick="searchMH()" class="fas fa-search formqc__searchbox--icon"></i>
            </div>
            <div style="margin-top: 17px;" class="formqc__box">
                <ul id="getProducts" class="formqc__box--ele">
                    {{#each data}}
                        <li>MH{{this.MaMH}} - {{this.TenMH}} <input type="checkbox" value="{{this.MaMH}}" /></li>
                    {{/each}}
                </ul>
                <div onclick="clickBT()" class="btn btn-dark formqc__box--bt">Thêm</div>
            </div>
        </div>
        <div class="col formqc__form--tab2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Đối tác</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected value="-1">Chọn đối tác</option>
                    {{#each doitacs}}
                    <option value="{{this.MaDoiTac}}">ĐT{{this.MaDoiTac}}-{{this.TenDoiTac}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="formqc__box">
                <ul id="products" class="formqc__box--ele">

                </ul>
                <div onclick="clickBT2()" class="btn btn-dark formqc__box--bt">Bỏ</div>
            </div>
        </div></div>
        <div onclick="clicksubmit()" style="text-align: center;"><div class="btn btn-dark formqc__box--accept">Xác nhận</div></div>

            
    </form>
    <form style="display: none;" id="formsubmitspqc" name="formsubmitspqc" action="./nvdangtin/submitQC" method="POST">
        <input type="text" id="submitSP" name="sanpham"/>
        <input type="text"id="submitDT" name="MaDoiTac"/>
    </form>
    <form style="display: none;" id="redirectform"method="get">
    </form>
</div>
<script>
        function clickBT() {
            const ele = document.getElementById('getProducts');
            const eleLi = ele.getElementsByTagName('li')
            let arrayLi = []
            for (let i = 0 ;i<eleLi.length;i++){
                arrayLi.push(eleLi[i]);
            }
            
            if (arrayLi.length>0){
                let arrayInput = [];
                for (let i = 0 ;i<arrayLi.length;i++){
                    arrayInput.push(arrayLi[i].getElementsByTagName('input'))
                }
                let indexAdd = [];
                arrayInput.map((val,i) => {
                    if (val[0].checked == true){
                        indexAdd.push(i);
                    }
                })
                const products = document.getElementById('products');
                if (indexAdd.length>0){
                    for (let i = indexAdd.length-1;i>=0;i--){
                        products.appendChild(eleLi[indexAdd[i]])
                    }
                }
            }
        }

        function clickBT2() {
            const ele = document.getElementById('products');
            const eleLi = ele.getElementsByTagName('li')
            let arrayLi = []
            for (let i = 0 ;i<eleLi.length;i++){
                arrayLi.push(eleLi[i]);
            }
            
            if (arrayLi.length>0){
                let arrayInput = [];
                for (let i = 0 ;i<arrayLi.length;i++){
                    arrayInput.push(arrayLi[i].getElementsByTagName('input'))
                }
                let indexAdd = [];
                arrayInput.map((val,i) => {
                    if (val[0].checked == false){
                        indexAdd.push(i);
                    }
                })
                const products1 = document.getElementById('getProducts');
                if (indexAdd.length>0){
                    for (let i = indexAdd.length-1;i>=0;i--){
                        products1.appendChild(eleLi[indexAdd[i]])
                    }
                }
            }
        }

        function searchMH() {
            document.getElementById("formqc").submit();
        }

        function clicksubmit() {
            Swal.fire({
            title: 'Xác nhận!',
            text: "Bạn có muốn đăng tải sản phẩm quảng cáo?",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Có!',
            cancelButtonText: 'Không'
            }).then((result) => {
                if (result.value) {
                    const selectDT = document.getElementById('inputGroupSelect01').value;
                if (selectDT != -1){
                    const ele = document.getElementById('products');
                    const eleLi = ele.getElementsByTagName('li')
                    let arrayLi = []
                    for (let i = 0 ;i<eleLi.length;i++){
                        arrayLi.push(eleLi[i]);
                    }
                    if (arrayLi.length>0){
                        let valueSP = [];
                        for (let i = 0 ;i<arrayLi.length;i++){
                            valueSP.push(arrayLi[i].getElementsByTagName('input')[0].value);
                        }
                        document.getElementById('submitSP').value = valueSP;
                        document.getElementById('submitDT').value = selectDT;
                        document.getElementById('formsubmitspqc').submit();
                    }
                }
                else {
                    Swal.fire('Vui lòng chọn đối tác')
                }
            }
            })
            
        }
        function xemspquangcao(){
            document.getElementById('redirectform').action = '/nvdangtin/showlistproducts';
            document.getElementById('redirectform').submit()
        }
        function ngungquangcaosp(){
            document.getElementById('redirectform').action = '/nvdangtin/ngungquangqc';
            document.getElementById('redirectform').submit();
        }
    </script>